:root{
    --primary-color: rgb(150, 111, 247);  /* GREEN BLUEKK PADRÃO */
    --text-color: rgb(126, 136, 126);  /* COR TEXTO PADRÃO */
    --secondary-text: rgb(145,150,180); /*COR SECUNDARIA DO PADRAO*/
    --white-text: white; /* COR BRANCA TEXTO */

    --background-alfa: rgba(242, 252, 255, 0.369); /*É O FUNDO DO CARD DAS PAGS*/

    --background-button: rgba(255, 255, 255, 0.87);  /* BUTAO PADRAO*/
    --hover-button: rgba(183, 138, 255, 0.87);  /* BUTAO C/HOVER PADRAO*/
    --hover-color: rgb(232, 245, 255);  /* TEXTO C/HOVER BOTAO */
    --sombra: rgba(120, 150, 180, 0.18); /*SOMBRAAA*/

    --card-color: rgba(78, 175, 102, 0.12); /* COR DOS CARDS*/
    --secondary-card: rgba(215, 205, 255, 0.609); /* COR DOS CARDS SECUNDÁRIOS*/

    --divisor: rgba(34, 202, 40, 0.167); /*COR DOS DIVISORES*/

    --background-switch: rgba(151, 178, 173, 0.314); /*FUNDO DO INTERRUPTOR DO LANGUAGE*/
}

*{
    border: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--text-color);
}

body{
    margin: 0;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    /* background: linear-gradient(135deg,rgb(175, 255, 178),rgb(217, 255, 254), rgb(249, 217, 255)); */
    background-image: url("../assets/imgs/home/fundo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.carrd{
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: var(--background-alfa);
    backdrop-filter: blur(10px);
    padding:20px 40px;

    
    box-shadow: 0 8px 30px var(--sombra);
    width: 760px;
    overflow: hidden;
    /* padding: 0; */
    border-radius: 30px;

    transition: 0.3s;
}

.home-card{
    padding:0;
    overflow:hidden;

    display:flex;
    flex-direction:column;
    
}

.language-switch{
    position: absolute;
    top: 20px;
    right: 40px;

    display: flex;
    align-items: center;

    width: 136px;
    height: 44px;
    padding: 0;
    background: var(--background-switch);
    border-radius: 999px;
    overflow: hidden;

    box-shadow: 0 4px 8px var(--sombra);
}

.language-switch button{
    width: 68px;
    height: 44px;

    background: transparent;
    border: none;

    font-size: 12px;
    font-weight: 600;

    cursor: pointer;

    position: relative;
    z-index: 2;

    transition: color 0.2s;

    color: var(--secondary-text);
}


.language-switch button:hover{
    color: rgba(145,150,180,0.7);
}

.active-language{
    color: var(--primary-color) !important;

}

.lang-slider{
    position: absolute;
    top: 3px;
    left: 3px;

    width: 62px;
    height: 38px;

    background: var(--background-button);
    box-shadow: 0 2px 6px var(--sombra);

    border-radius: 999px;


    /* transition: transform 0.35s cubic-bezier(.68,-0.55,.27,1.55); */

    z-index: 1;
}

.content{
    display: grid;
    grid-template-columns: minmax(180px, 38%) 1fr;
    gap: 0;
    align-items: stretch;
}

.icon{
    /* flex: 1; */

    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    /* border-radius: 20px; */
}

.icon img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 40px;
    padding-top: 70px;

    box-sizing: border-box;
    min-width: 0;
}


.text h1{
    letter-spacing: 4px;
    font-size: 70px;
    
    margin: 0;
    line-height: 1;

    color: var(--primary-color);
}

.text h2{
    margin-top: 4px;
    font-size: 24px;
    font-weight: 600;

    display: inline-block;
}

.text h2::after{
    content: "";

    display: block;

    width: 120px;
    height: 6px;

    margin-top: 0px;

    border-radius: 999px;
    background: var(--primary-color);
    opacity: .5;
}

.profile-info{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    
    margin-bottom: 25px;
    min-width: 0;
}

.profile-info span{
    font-size:12px;
    
    display:flex;
    align-items:center;
    gap:6px;
    min-width: 0;
}

.profile-info i{
    color: var(--primary-color);
    opacity: .8;
}

.info-lirou{
    display: flex;
    gap: 10px;
}

.divider{
    border-top: 6px dotted var(--divisor);
    height:0;
}

.mini-divider{
    width: 170px;
    height: 4px;

    border-radius: 999px;
    background:var(--primary-color);
    margin: -20px 0px 0px 0px;

    opacity:.5;
}

.interests{
    margin-bottom: -10px;
}

.interests h3{
    color: var(--primary-color);
    font-size: 20px;
    letter-spacing: 2px;
}

.interests ul{
    list-style:none;
    padding-left:0;
}

.interests li{
    position:relative;
    padding-left:24px;
    margin-bottom:8px;
    font-size: 12px;
}

.interests li::before{
    content:"↳";
    font-size:20px;
    position:absolute;
    left:0;
    color:var(--primary-color);
}

.buttons{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.sections-page{
    display: flex;
    gap: 10px;
}

.nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    cursor: pointer;
    
    padding: 10px 40px;
    border-radius: 999px;
    font-size: 16px;
    transition: 0.25s;
    
    background: var(--background-button);
    border: 3.2px solid var(--background-button);
    color: var(--primary-color);
    font-weight: 600;
    /* box-shadow: 0 4px 4px rgba(120, 150, 180, 0.18); */
}

.nav-button:hover{
    background: var(--hover-button);
    /* transform: translateY(-2px); */
    color: var(--hover-color);
    
}

.links{
    display: flex;
    gap: 30px;
    font-size: 27px;
    margin-top:10px;
}

.links a{
    text-decoration: none;
    transition: 0.2s;
}

.links a:hover{
    transform: scale(1.2);
    opacity: 0.8;
}

.links a i{
    color: var(--primary-color);
}


.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}

.category-title{
    display: flex;
    align-items: center;
    gap: 18px;
}

.category-title h2{
    margin: 0;

    font-size: 17px;
    font-weight: 600;
    color: var(--primary-color);
}

.category-title a, .category-title i{
    color: var(--primary-color);
}

.nav-divider{
    width: 2px;
    height: 22px;

    background: var(--divisor);
}

.back-button{
    display: flex;
    align-items: center;
    gap: 15px;


    font-size: 14px;
    font-weight: 500;

    opacity: 0.75;
    transition: 0.2s;
}

.back-button:hover{
    opacity: 1;
}

.gallery-page .language-switch,
.prices-page .language-switch,
.terms-page .language-switch{
    position: relative;
    top: unset;
    right: unset;
}

.active-page{
    background: var(--primary-color);
    color: var(--white-text);
}

body[data-page="home"] {
    display: grid;
    place-items: center;
}


.site-footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 8px 0;

    font-size: 11px;
    color: var(--secondary-text);

    z-index: 999;

    backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.15);
}

.footer-center,
.footer-right{
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-right a{
    color: var(--primary-color);
    font-weight: 800;
}









/* RESPONSIVO */


@media (max-width: 760px){

    body[data-page="gallery"],
    body[data-page="prices"],
    body[data-page="terms"]{
        flex-direction:column;
    }

    /* LARGURA DO CARD MOBILE
       ALTERE ESTE VALOR SE QUISER O CARD MAIS LARGO OU MAIS ESTREITO */
    .home-card{
        width:min(92vw, 480px);

        margin:20px;
        border-radius:40px;
        position: relative;
    }

    .content{
        display:flex;
        flex-direction:column;
    }

    .icon{
        height:240px;
        margin-bottom:80px;

    }

    .icon img{
        width:100%;
        height:100%;

        object-fit:cover;
    }

    .language-switch{
        position:absolute;
        top:260px;
        right:35px;

        z-index:10;
        margin:0;
    }

    .text{
        text-align:center;
        padding: 20px 80px 35px;
    }

    .text h1{
        font-size:56px;
    }

    .text h2{
        font-size:22px;
    }

    .text h2::after{
        content: "";

        display: block;

        width: 154px;
        height: 6px;

        margin: 0 auto 0;
        border-radius:999px;
        background: var(--primary-color);
        opacity: .5;
    }

    .profile-info{
        flex-direction:column;
        align-items:flex-start;
        gap:12px;
    }

    .profile-info i{
        font-size: 18px
    }

    .profile-info span{
        font-size: 15px
    }

    .interests{
        text-align:left;
    }

    .sections-page{
        flex-direction:column;
        width:100%;
    }

    .nav-button{
        width:100%;
        box-sizing:border-box;
    }

    .category-title{
        gap: 10px;
    }

    .category-title h2{
        font-size: 15px;
    }

    .back-button{
        background:none;
        box-shadow:none;
        border:none;
        width:auto;
        height:auto;
        padding:0;
        font-size:0;
    }

    .back-button a{
        display: none;
    }

    .back-button i{
        font-size:20px;
    }

    .back-button:hover{
        /* background-color: var(--hover-button); */
        transform: translateY(-2px);
        /* border: 3px solid var(--hover-button); */
        color: var(--hover-color);
        font-weight: 600;
    }

        /* botão voltar */
    .back-button{
        width: 32px;
        height: 32px;
    }

    .back-button i{
        font-size: 14px;
    }

   .language-switch{
        width:136px; /* mantém o tamanho original */
        height:44px;
    }

    .language-switch button{
        width:68px;
        height:44px;
        flex:none;
        font-size:10px;
    }

    .lang-slider{
        width:62px;
        height:38px;
    }


    /* FOOTERR */

    .carrd{
        margin-bottom: 20px;
    }
    
    .site-footer{
        position: static;
        margin-top: 20px;
        flex-direction: column;
        text-align: center;
        /* padding: 12px 10px; */
    }

    .footer-center,
    .footer-right{
        flex-wrap: wrap;
        justify-content: center;
    }
}

.gallery-page,
.prices-page,
.terms-page{
    box-sizing:border-box;
}

@media (max-width: 460px){

    .home-page{
        width:92vw;
    }
}    